
[^~]*~
*~
.gitignore~
*\~
src/[^~]*~
submit_files/
jobarray_parameters/
saved_results/
.ipynb_checkpoints/                                                                          
src/__pycache__                                                                             
__pycache__
data/
docs/
dico_neerest_nei/
dico_pred_final/
!data/datasets/

plot_MolKernel.ipynb
plot_ProtKernel.ipynb
src/check_finished_jobs.py
src/generate_folds.py
src/load_results.py



