
[^~]*~
*~
.gitignore~
*\~
src/[^~]*~
submit_files/
jobarray_parameter/
saved_results/
.ipynb_checkpoints/
src/__pycache__/
__pycache__
data/data_on_families/
data/kernels/
data/pickles/
docs/
dico_neerest_nei/
dico_pred_final/
study_on_withdrawn_mol/*
!study_on_withdrawn_mol/wd.tsv
!study_on_withdrawn_mol/wd_consideredmol.tsv

plot_MolKernel.ipynb
plot_ProtKernel.ipynb
src/check_finished_jobs.py
src/generate_folds.py
src/load_results.py



